<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<h1>Zamówienie zostało przyjęte</h1>
<img th:src="@{/images/taco.png}"/>
<div>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Wyloguj się"/>
    </form>
    <form method="GET" th:action="@{/design}">
        <input type="submit" value="Przygotuj kolejne taco"/>
    </form>
</div>
</div>

</body>
</html>
